body{
    margin: 0;
    padding: 0;
    margin-left: 590px;
    margin-top: 75px;
    font-size: larger;
    text-align: center;
    font-family: sans-serif;
    background-color:rgb(204, 235, 255);
    color: #50567c;    
}
legend {    
    padding: 5px 10px;
  }
fieldset {
    background-color: #eeeeee;    
    width: 33%;
  }